.team-data img {
    width: 100%;
    height: auto;
}

.social-icons img {
    width: 50px;
    height: auto;
}

.social-icons {
    text-align: center;
}


.team-data-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #ff7f50;
    color: white;
    padding-bottom: 0;
    border-radius: 20px;
    margin-top: 20px !important;
}

.team-data-img img{
    display: inline-block;
    width: 400px;
}

.team-data-img{
    text-align: right;
}

.team-data-container,
.team-description {
    width: 95%;
    margin: auto;
}


.team-data {
    background: #dfe6e9;
}

.team-data-img,
.team-info {
    padding: 20px;
}

.font-icon {
    font-size: 30px;
    margin: 10px;
}

.twitter {
    color: #1DA1F2;
}

.twitter:hover {
    color: #1b5172;
}

.youtube {
    color: red;
}

.youtube:hover {
    color: rgb(161, 18, 18);
}


.team-info p img {
    width: 20px;
    height: auto;
}


@media (max-width: 768px){
    .team-data-container{
        display: block;
    }

    .team-data-img{
        text-align: center;
    }
}

@media (max-width: 480px){
    .team-data-img img{
        width: 250px;
    }
}

@media (max-width: 300px){
    .team-data-img img{
        width: 200px;
    }
}

